<footer class="border-white/20 border-b bg-accent-500 gradient-grid">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto border-white/20 border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
        Web desarrollada por <a href="https://www.msierra.dev"> Manuel Sierra&nbsp; &rarr;</a>
      </p>
    </div>
  </div>
</footer>
